body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  background-color: #fffaf5;
  color: #3e3e3e;
}
header {
  background-color: #eed9c4;
  padding: 1em;
  text-align: center;
}
nav a {
  margin: 0 1em;
  color: #5e4630;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
main {
  padding: 1em;
}
section {
  display: none;
}
section.visible {
  display: block;
}
footer {
  text-align: center;
  background-color: #eed9c4;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.socials a {
  text-decoration: none;
  font-family: 'Georgia', serif;
  color: #4a3f35;
  background-color: #f0ebe6;
  padding: 6px 12px;
  border-radius: 10px;
  margin-right: 10px;
  transition: background 0.3s ease;
}

.socials a:hover {
  background-color: #e2dcd5;
}
